.places {
  margin: 0;
  margin-bottom: 92px;
}

@media (max-width: 1023px) {
  .places {
    margin-bottom: 90px;
  }
}

@media (max-width: 767px) {
  .places {
    margin: auto;
    max-width: 320px;
    margin-bottom: 64px;
  }
}