.header__logo {
  width: 176px;
  margin: 0;
  background-image: url(../../../images/header-logo.svg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .header__logo {
    max-width: 142px;
    min-height: 42px;
  }
}
